h1,h4{
    color:dark purple;
}
body{
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJ36zBujMg6OhaSHEQBZ9sDTj1IUuURtUccg&s");
}
.div{
    justify-content:space-between;
}
